<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>Watch Only Videos You Like</h1>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span4">
        <img  height="555" width="300" src=<%=image_path("iphone-home-screenl.png")%> />
        <h2 style="text-align:center;">Via Mobile Or Web</h2>
    </div>
    <div  class="span4">
        <img src="<%=image_path("facebook.png")%>" />
        <h2 style="text-align:center;">Videos Shared by Friends</h2>
    </div> 
</div>

<div class="row" style="padding-top:100px">
    <div class="span4">
        <h2 style="text-align:center;">Save Videos With Browser Plugin</h2>
        <img src="<%= image_path("chrome-plugin-screenshot.png") %>" />
    </div>
    <div class="span4">
        <h3 style="text-align:center;">Vids4.me Gives You:</h3> 
        <ul>
            <li>Browser plugins for saving videos</li>
            <li>Import videos from your friends</li>
            <li>Facebook pages</li>
            <li>Save videos for future viewing</li>
            <li>Watch video on any device, anywhere</li>
        </ul>
        <%= button_to('Sign up with Facebook', user_omniauth_authorize_path(:facebook), :class => 'btn btn-large btn-primary')  %> 
    </div>
</div>
