<div id="url" style="display: none;"><%= @share %></div>

<button id="add_list" class="btn btn-primary">Add to my list</button><div id="loading_add_list" class="loader" style="display: none;"><img src="/images/ajax-loader.gif" alt="ajax-loader" width="16" height="16"></div><br />
<button id="share_friends" class="btn btn-success">Share to my friends</button><div id="loading_share_friends" class="loader" style="display: none;"><img src="/images/ajax-loader.gif" alt="ajax-loader" width="16" height="16"></div><br />
<button id="post_fb" class="btn btn-warning">Post to FB</button><div id="loading_post_fb" class="loader" style="display: none;"><img src="/images/ajax-loader.gif" alt="ajax-loader" width="16" height="16"></div><br />
<div id="notification" class="alert" style="display: none;"></div>