<div id="url" style="display: none;"><%= @share %></div>

<button id="add_list" class="btn">Add to my list</button><br />
<button id="share_friends" class="btn">Share to my friends</button><br />
<button id="post_fb" class="btn">Post to FB</button><br />
<div id="notification" style="display: none;">success !</div>