// Place all the styles related to the form controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn {
    margin: 0 0 5px 0 !important;
    width: 150px !important;
    height: 40px !important;
}

.alert {
    height: 15px !important;
    font-size: 11px;
}

#loading_add_list{
    position: absolute;
    top: 15px;
    left: 160px;
}

#loading_share_friends{
    position: absolute;
    top: 60px;
    left: 160px;
}

#loading_post_fb{
    position: absolute;
    top: 105px;
    left: 160px;
}
