// Place all the styles related to the list controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.player{
    align:left;
	width:640px;
	height:390px;
	margin:0px;
	padding:0px;
}

.thumb_up{
	width:40px;
	height:40px;
	margin: 20px;
	cursor: pointer;
	
}

.thumb_down{
	width:40px;
	height:40px;
	margin: 20px;
	cursor: pointer;
		
}
